* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: whitesmoke;
}

.manehex {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.manehex .hexagon {
  width: 54px;
  height: 30px;
  background: #ccc;
  position: absolute;
  border-radius: 4px;
  transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.manehex .hexagon::before,
.manehex .hexagon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ccc;
  border-radius: 4px;
  transition: inherit;
}

.manehex .hexagon::before {
  transform: rotate(-60deg);
}

.manehex .hexagon::after {
  transform: rotate(60deg);
}

.manehex .hexagon:hover,
.manehex .hexagon:hover::before,
.manehex .hexagon:hover::after {
  opacity: 1;
}
